.Rproj.user
.Rhistory
.RData
.Ruserdata
Camera Trapping Ch 5.pdf
Make-dummy-data.nb.html
Testing_annotations.nb.html
Testing_annotations_elb.nb.html
Testing_multiple_classfications.nb.html
README.html
